*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}
.navbar-brand{
    color:aqua;
    font-size: 1.5rem;
    font-weight: 100;
    
}
.nav-link{
    color: black;
    font-size: 1.2rem;

}
.navbar-nav{
    color:black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    

    
}
span{
    color: blue;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #4777e67e , #8d54e98a), url("images/home-bg.jpg");

    background-size: cover;
    background-repeat: no-repeat;

   
}
.row{
    height: 100%;
}
.hero-text{
    height: 100%;
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;

}
button{
    width: 150px;

    border-radius: 10px;
    color: white;
    background-color: aqua;
}
.hero-img{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero1{
    width: 100%;
    height: 100vh;
    padding: 100px;
    

}
.hero1 .row{
    height: 100%;
}
.hero-img2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(images/team-img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.hero-img3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(images/team-img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.col-md-6{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.opacity-white{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255,0.372);
}
.opacity-white h4{
    font-size: 10px;
    text-align: center;
}
.hero1 h2{
    
    text-align: center;
}
.hero-text1{
    height: 100%;
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.hero-text1 h3{
    color: white;
}
.hero-text1 p{
    color: blue;
}
.hero3{
    width: 100%;
    height: 70vh;
    background-color: aqua;
}
.hero3 .row{
    height: 100%;
}
.hero-text3{

    height: 100%;
    /* width: 100%; */
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-text3 p{
    text-align: center;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
.hero-text3 button{
    color: blueviolet;
    background-color: black;
}
.hero4{

    width: 100%;
    height: 100vh;
    background-color: black;
}
.hero4 .row{
height: 100%;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}
.hero4 .row h5{
    margin: 50px;
    width: 100%;
    text-align: center;
}
.hero4 .row p{
    padding-left: 100px;
    padding-right: 100px;
}
.hero-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-images img{
    width: 250px;
    height: 400px;
}
.hero5{
    width: 100%;
    height: 80vh;
    background-color: rgb(70, 70, 211);
    padding: 50px;
}
.hero5 .row{
    height: 100%; 
    width: 100%;
    padding-left: 45px;
   display: flex;
    justify-content: space-around;
     align-items: center;
}
.hero5 .row h6{
    /* width: 100%;
    margin: 50px; */
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.hero5 .row hr{
    padding: 10px;
    margin: 10px;
    width: 67%;
}
.card-text{
    width: 80%;
    height: 100%;
    /* border-radius: 10%; */
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    
}
.card-text h2{
    color: rgb(99 139 139);
    
}
.card-text h3{
    font-size: 30px;
}
.b-card{
    position: absolute;
    bottom: -25px;
}
.b-card button{
    width: 100%;
    padding: 5px;
    border-radius: 20%;
}
.hero6{
    width: 100%;
    height: 100vh;
    padding: 100px;
    background-image: linear-gradient(to left, #4777e67c , #8d54e996), url("images/newsletter-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.hero6 .row{
    height: 50%;
    padding: 0px 400px;
    
}
.hero6 h4{
    text-align: center;
    color: white;
    margin: 50px 0px;
}
.hero6 p{
    text-align: center;
    color: white;
    margin: 0px 135px;

}
.hero6 .col-md-6{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-email{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-email h5{
    color: white;
}
.text-email .hh{
    width: 300px;
    color: white;
}
.hero6 button{
    height: 17%;
    width: 170px;
    padding: 4px;
    color:#8E54E9;
    background-color: white;
    border-radius: 20px;
}
.hero7{
    height: 25vh;
    width: 100%;
}
.hero7 .row{
    height: 100%;
    padding: 0px 5px;
}
.text-email{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8E54E9;
}
.hero7 .row .icon-text{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}